body{
    background-color: rgb(255, 255, 255);
}
@media(max-width:720px)
{
    span{
        display: none;
    }
    .gh{
        width: 100%;
        text-align: center;
       }
       .jk{
        width: 100%;
        text-align: center;
       }
}

.carousel-caption{
    margin-bottom: 100px;
    margin-right: 400px;
    text-align: justify;
    width: 60%;

    /* width: 810px; */
   
}
.bnm{
    background-color: rgb(120, 9, 223);
    border-radius: 30px;
    color: white;
    padding: 15px;
    border: none;

}
.bnm:hover{
    background-color: rgb(206, 152, 206);
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3x;
}
@media(max-width:720px)
{
    h1{
        width: 80%;
        text-align: justify;
        font-size: 20px;
        /* margin-right: 200px; */
    }
    p{
        font-size: 15px;
        /* margin-right: 200px; */
        width: 80%;

    }
    .bnm{
        padding: 0px;
    }
    .carousel-caption{
        width: 80%;
        text-align: justify;
        
    }

}
.modal-body{
    /* width: 600px; */
    height: 580px;
}
.sub{
    background-color: blueviolet;
    border: none;
    padding: 5px;
    border-radius: 30px;
}
.imh{
    width: 75%;
    /* margin-bottom: 100px; */
}
@media(max-width:720px)
{
    h1{
        width: 100%;
        text-align: justify;
    
    }
    p{
        width: 100%;
    
    }
    .abc{
        background-color: rgb(183, 152, 211);
    }
    .imh{
        width: 100%;
        text-align: center;
      
    }
}
.last{
    margin-top: 100px;
    color: blue;
}
.lastpp{
    color: blueviolet;
}
.c1{
    width: 49%;
    height: 350px;
    border: white solid 1px;
    margin-left: 5px; 
}
.science{
    width: 100%;
    height: 100%;
}
.c2{
    width: 49%;
    height: 350px;
    border: rgb(238, 231, 231) solid 1px;
    text-align: center;
}
.cntns{
    margin: 75px;
  
}
@media(max-width:720px)
{
    .c1{
        width: 100%;

    }
    .c2{
        width: 100%;
        height: 100%;
    }
    .cntns{
        width: 90%;
        text-align: justify;
        margin-left: 15px;
      
    }
}
.ab{
margin: 30px;

}
.card{
    height: 450px;
}
@media(max-width: 800px)
{
    .c3,.c4,.c5{
        margin-top: 10px;
    }
}

